* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PMingLiU", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    transition: transform 1s ease-in-out;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}
p {
    font-size: 25px;
    line-height: 1.5;
    /* 添加这一行 */
    margin-left: 10px;
    border-left: 1px solid #000000;
    font-family: "Microsoft YaHei", sans-serif;
}

.move {
    transform: translateX(-100%);
}

/* 添加邮箱图标按钮的样式 */
.email-btn {
    display:block; /* 设置为块级元素 */
    position:absolute; /* 设置为绝对定位 */
    bottom:10px; /* 设置距离底部10像素 */
    right:10px; /* 设置距离右边10像素 */
    width:40px; /* 设置宽度为40像素 */
    height:40px; /* 设置高度为40像素 */
    border-radius:50%; /* 设置为圆形 */
    background-color:transparent; /* 设置背景颜色为透明 */
 }
 
 .email-btn i {
    color:white; /* 设置图标颜色为白色 */
    font-size:24px; /* 设置图标大小为24像素 */
    line-height:40px; /* 设置行高为40像素，使图标垂直居中 */
    text-align:center; /* 设置文本水平居中，使图标水平居中 */
 }
